:root {
    --primary-color: #3369f3;
    --primary-color-hover: #1153b5;
    --primary-color-active: #0c4395;

    --secondary-color: #f3f3f3;
    --secondary-color-hover: #e5e5e5;
    --secondary-color-active: #d3d3d3;

    --text-color: #1e1e1e;
    --text-color-inverted: #fff;
    --text-color-disabled: #999;

    --hover-color: #3369f30f;
    --active-color: #3369f31e;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
}
