<div class='modal-backdrop'>
    <div class='modal'>
        <h3>{{title}}</h3>
        <form id={{formId}} class="modal__form">
			{{#each fields}}
				{{> TextInput this}}
			{{/each}}
            <div class="actions-block">
                {{> Button button}}
                {{> Link link}}
            </div>
        </form>
    </div>
</div>