.button {
    cursor: pointer;

    width: 100%;
    padding: 8px 16px;

    font-size: 16px;

    border: none;
    border-radius: var(--border-radius-lg);

    transition: background-color 0.1s ease;

    &.primary {
        color: var(--text-color-inverted);
        background-color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color-hover);
        }

        &:active {
            background-color: var(--primary-color-active);
        }
    }

    &.secondary {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: 1px solid var(--primary-color);

        &:hover {
            background-color: var(--secondary-color-hover);
        }

        &:active {
            background-color: var(--secondary-color-active);
        }
    }

    &.danger {
        color: var(--text-color-inverted);
        background-color: var(--danger-color);

        &:hover {
            background-color: var(--danger-color-hover);
        }

        &:active {
            background-color: var(--danger-color-active);
        }
    }

    &.link {
        display: inline-block;

        box-sizing: border-box;

        color: var(--primary-color);
        text-align: center;
        text-decoration: none;

        background-color: transparent;
    }

    &__size {
        &--sm {
            padding: 4px 8px;
            font-size: 12px;
        }

        &--md {
            padding: 8px 16px;
            font-size: 16px;
        }

        &--lg {
            padding: 12px 24px;
            font-size: 20px;
        }
    }

    &.round {
        aspect-ratio: 1/1;
        width: 40px;
        padding: 0;
        border-radius: 100%;

        &.button__size--sm {
            width: 20px;
        }

        &.button__size--md {
            width: 32px;
        }

        &.button__size--lg {
            width: 40px;
        }
    }
}
