<div class="chat-preview">
    <div class="chat-preview__avatar">
        {{> Avatar src=imageSrc initials=initials size="medium"}}
    </div>
    <div class="chat-preview__content">
        <div class="chat-preview__header">
          <span class="chat-name">{{name}}</span>
          <span class="last-message-time">{{lastMessage.time}}</span>
        </div>
        <div class="chat-preview__message-body">
            {{#if isOwnMessage}}<span class="chat-preview__own">Вы:</span>{{/if}}
            <span class="message-text">
                {{lastMessage.text}}
            </span>
            {{#if unreadMessages}}
            <span class="unread-messages-badge">
                {{unreadMessages}}
            </span>{{/if}}
        </div>
    </div>
</div>