.text-input {
    display: block;
    width: 100%;
    font-size: var(--font-size-sm);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    padding: 8px 0;
    background: none;

    &::placeholder {
        color: var(--text-color-secondary);
    }

    &:focus {
        border-bottom-color: #0d47a1;
    }

    &.filled {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: var(--secondary-color);
    }
}
