.link {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:disabled {
        color: var(--text-color-secondary);
    }

    &:visited {
        color: var(--primary-color);
    }

    &.secondary {
        font-size: var(--font-size-xs);
        color: var(--text-color-secondary);

        &:hover {
            text-decoration: none;
        }
    }
}
