.message {
    display: flex;
    align-items: flex-start;

    max-width: 70%;
    padding: 12px;

    font-size: 14px;
    line-height: 1.4;

    border-radius: 12px;

    &--incoming {
        align-self: flex-start;
        color: #000;
        background-color: #f0f0f5;
    }

    &--outgoing {
        align-self: flex-end;
        color: #000;
        background-color: #d4eaff;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__text {
        margin: 0;
        word-break: break-word;
    }

    &__image {
        max-width: 100%;
        border-radius: 8px;
    }

    &__time {
        position: relative;

        float: right;

        /* align-self: flex-end; */
        margin-top: 4px;
        margin-left: 8px;

        font-size: 12px;
        color: var(--text-color-secondary);
    }
}
