.error-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 140px;

        h1,
        h4 {
            margin: 0;
        }

        .link {
            margin-top: auto;
        }
    }
}
